{% extends "layout.html" %}
{% block footer_js %}
    <script src="{{url_for('static', filename='js/jquery.titleSearch.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.titleCompare.js')}}"></script>
{% endblock %}
{% block content %}
<div class="row" id="title-search">
    <input type="hidden" id="first_mvoie_id" />
    <input type="hidden" id="second_mvoie_id" />
    <div class="col-md-6 title-search">
        <label for="search_first">Compare</label>
        <input type="text" name="first_movie" id="search_first" placeholder="First Movie" class="title_search" />
        <div id="first_movie"></div>
    </div>
    <div class="col-md-6 title-search">
        <label for="search_first">To</label>
        <input type="text" name="second_movie" id="search_second" placeholder="Second Movie" class="title_search" />
        <div id="second_movie"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-16 compare-container">
        <div id="compare_result"></div>
    </div>
</div>
    <script type="text/javascript">
    $(function() {
        $('#search_first').titleSearch(
            {load_element:$('#first_movie'), id_element: $('#first_mvoie_id')}
        );
        $('#search_second').titleSearch({load_element:$('#second_movie'), id_element: $('#second_mvoie_id')});

        $('#title-search').titleCompare({
            first_id_element: $('#first_mvoie_id'),
            second_id_element: $('#second_mvoie_id')
        })
    });
    </script>
{% endblock %}
